<a href="https://colab.research.google.com/github/joyfuldinosaur/ideal-giggle/blob/master/Analytic_Results.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import seaborn as sns
import pandas as pd
from google.colab import drive
import pandas as pd
import numpy as np
from sklearn.metrics import explained_variance_score, mean_absolute_error, median_absolute_error
from sklearn.model_selection import train_test_split
import tensorflow as tf

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import load_files
from sklearn.model_selection import GridSearchCV
import numpy as np
import matplotlib.pyplot as plt
import statsmodels

In [2]:
drive.mount('/content/drive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
df = pd.read_csv("/content/drive/My Drive/WeatherData/weather_prepped_first_stage4.csv", index_col=0)

In [4]:
df.head()

,Date,highTemp,HIGHTEMP30YR5PEau2,HT3Y3Pau2,HIGHTEMP30YR50Pau2,HT3Y7Pau2,HT3Y9Pau2,lowTemp,LOWTEMP30YR5PEau2,LT3Y3Pau2,...,highTemp.avg2,highTemp.avg3,lowTemp.avg1,lowTemp.avg2,lowTemp.avg3,rain.avg1,rain.avg2,rain.avg3,highTemp.actual,lowTemp.actual
1,1998-01-01,-0.685144,-1.040719,-0.954007,-0.865427,-0.855360,-0.731627,-0.565026,-1.039315,-0.756305,...,40.900000,42.950000,31.705556,31.794444,30.416667,1.111111,1.555556,1.500000,50.355556,34.688889
2,1998-01-02,-1.178046,-1.050702,-0.929372,-0.889825,-0.824512,-0.765173,-0.831422,-1.020339,-0.806871,...,42.950000,44.283333,31.794444,30.416667,31.811111,1.555556,1.500000,1.388889,42.961111,31.705556
3,1998-01-03,-1.315436,-1.039471,-0.934179,-0.845909,-0.813320,-0.722798,-0.823485,-1.117155,-0.791280,...,44.283333,45.627778,30.416667,31.811111,36.027778,1.500000,1.388889,1.444444,40.900000,31.794444
4,1998-01-04,-1.178786,-1.198887,-0.938986,-0.868010,-0.818234,-0.753571,-0.946513,-1.324341,-0.846481,...,45.627778,46.122222,31.811111,36.027778,32.350000,1.388889,1.444444,1.388889,42.950000,30.416667
5,1998-01-05,-1.089909,-1.217917,-0.936582,-0.853946,-0.813047,-0.769209,-0.821996,-1.262766,-0.924016,...,46.122222,42.116667,36.027778,32.350000,26.961111,1.444444,1.388889,1.111111,44.283333,31.811111

In [5]:
 df.describe()

,highTemp,HIGHTEMP30YR5PEau2,HT3Y3Pau2,HIGHTEMP30YR50Pau2,HT3Y7Pau2,HT3Y9Pau2,lowTemp,LOWTEMP30YR5PEau2,LT3Y3Pau2,LOWTEMP30YR50Pau2,...,highTemp.avg2,highTemp.avg3,lowTemp.avg1,lowTemp.avg2,lowTemp.avg3,rain.avg1,rain.avg2,rain.avg3,highTemp.actual,lowTemp.actual
count,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,...,3648.000000,3646.000000,3650.000000,3648.000000,3646.000000,3650.000000,3648.000000,3646.000000,3652.000000,3652.000000
mean,0.000649,0.000620,0.000619,0.000595,0.000549,0.000393,0.000612,0.000565,0.000575,0.000551,...,60.646240,60.649909,41.023108,41.023301,41.023770,1.167242,1.167271,1.167211,60.643748,41.023413
std,0.879104,0.677872,0.630804,0.616102,0.602090,0.534560,0.799403,0.676598,0.600492,0.558307,...,13.189235,13.188376,8.953412,8.953402,8.953687,0.194935,0.194984,0.194912,13.188217,8.952421
min,-2.516397,-1.377241,-0.996102,-0.953545,-0.922692,-0.833187,-2.774075,-1.488541,-0.924016,-0.859134,...,22.883333,22.883333,9.950000,9.950000,9.950000,1.000000,1.000000,1.000000,22.883333,9.950000
25%,-0.737082,-0.576822,-0.562251,-0.573804,-0.584219,-0.553803,-0.595411,-0.597282,-0.553197,-0.513400,...,49.576389,49.577778,34.345833,34.348611,34.352778,1.000000,1.000000,1.000000,49.576389,34.348611
50%,-0.081887,0.030581,-0.026290,-0.039928,-0.028208,0.020024,-0.035460,-0.042111,-0.109479,-0.107646,...,59.405556,59.405556,40.619444,40.619444,40.619444,1.111111,1.111111,1.111111,59.405556,40.619444
75%,0.734770,0.564671,0.526795,0.525809,0.551890,0.511876,0.669223,0.623595,0.552139,0.515268,...,71.661111,71.661111,48.511111,48.511111,48.509722,1.277778,1.277778,1.277778,71.656944,48.511111
max,2.292631,1.181120,1.127046,1.063129,1.027980,0.905358,2.095952,1.145626,1.072506,0.994856,...,95.027778,95.027778,64.488889,64.488889,64.488889,1.888889,1.888889,1.888889,95.027778,64.488889

In [0]:
keeps = []
with open("/content/drive/My Drive/WeatherData/lasso-keeps2.txt") as file:
  file = file.read()
  keeps.append(file)

In [7]:
df.Date = pd.to_datetime(df.Date)
df.head()

,Date,highTemp,HIGHTEMP30YR5PEau2,HT3Y3Pau2,HIGHTEMP30YR50Pau2,HT3Y7Pau2,HT3Y9Pau2,lowTemp,LOWTEMP30YR5PEau2,LT3Y3Pau2,...,highTemp.avg2,highTemp.avg3,lowTemp.avg1,lowTemp.avg2,lowTemp.avg3,rain.avg1,rain.avg2,rain.avg3,highTemp.actual,lowTemp.actual
1,1998-01-01,-0.685144,-1.040719,-0.954007,-0.865427,-0.855360,-0.731627,-0.565026,-1.039315,-0.756305,...,40.900000,42.950000,31.705556,31.794444,30.416667,1.111111,1.555556,1.500000,50.355556,34.688889
2,1998-01-02,-1.178046,-1.050702,-0.929372,-0.889825,-0.824512,-0.765173,-0.831422,-1.020339,-0.806871,...,42.950000,44.283333,31.794444,30.416667,31.811111,1.555556,1.500000,1.388889,42.961111,31.705556
3,1998-01-03,-1.315436,-1.039471,-0.934179,-0.845909,-0.813320,-0.722798,-0.823485,-1.117155,-0.791280,...,44.283333,45.627778,30.416667,31.811111,36.027778,1.500000,1.388889,1.444444,40.900000,31.794444
4,1998-01-04,-1.178786,-1.198887,-0.938986,-0.868010,-0.818234,-0.753571,-0.946513,-1.324341,-0.846481,...,45.627778,46.122222,31.811111,36.027778,32.350000,1.388889,1.444444,1.388889,42.950000,30.416667
5,1998-01-05,-1.089909,-1.217917,-0.936582,-0.853946,-0.813047,-0.769209,-0.821996,-1.262766,-0.924016,...,46.122222,42.116667,36.027778,32.350000,26.961111,1.444444,1.388889,1.111111,44.283333,31.811111

In [8]:
df['averageTemp'] = (df['highTemp.actual'] + df['lowTemp.actual'])/2
df.averageTemp.head()

1    42.522222
2    37.333333
3    36.347222
4    36.683333
5    38.047222
Name: averageTemp, dtype: float64

In [0]:
df['month'] = pd.DatetimeIndex(df['Date']).month
df['year'] = pd.DatetimeIndex(df['Date']).year
df['day'] = pd.DatetimeIndex(df['Date']).day

In [10]:
df.head()

,Date,highTemp,HIGHTEMP30YR5PEau2,HT3Y3Pau2,HIGHTEMP30YR50Pau2,HT3Y7Pau2,HT3Y9Pau2,lowTemp,LOWTEMP30YR5PEau2,LT3Y3Pau2,...,lowTemp.avg3,rain.avg1,rain.avg2,rain.avg3,highTemp.actual,lowTemp.actual,averageTemp,month,year,day
1,1998-01-01,-0.685144,-1.040719,-0.954007,-0.865427,-0.855360,-0.731627,-0.565026,-1.039315,-0.756305,...,30.416667,1.111111,1.555556,1.500000,50.355556,34.688889,42.522222,1,1998,1
2,1998-01-02,-1.178046,-1.050702,-0.929372,-0.889825,-0.824512,-0.765173,-0.831422,-1.020339,-0.806871,...,31.811111,1.555556,1.500000,1.388889,42.961111,31.705556,37.333333,1,1998,2
3,1998-01-03,-1.315436,-1.039471,-0.934179,-0.845909,-0.813320,-0.722798,-0.823485,-1.117155,-0.791280,...,36.027778,1.500000,1.388889,1.444444,40.900000,31.794444,36.347222,1,1998,3
4,1998-01-04,-1.178786,-1.198887,-0.938986,-0.868010,-0.818234,-0.753571,-0.946513,-1.324341,-0.846481,...,32.350000,1.388889,1.444444,1.388889,42.950000,30.416667,36.683333,1,1998,4
5,1998-01-05,-1.089909,-1.217917,-0.936582,-0.853946,-0.813047,-0.769209,-0.821996,-1.262766,-0.924016,...,26.961111,1.444444,1.388889,1.111111,44.283333,31.811111,38.047222,1,1998,5

In [11]:
df.dtypes.value_counts()

float64           114
int64               3
object              2
datetime64[ns]      1
dtype: int64

In [0]:
df = df.drop(['Date'], axis=1)

In [0]:
df.drop(df.select_dtypes(['object']), inplace=True, axis=1)

In [0]:
df_train = df[df.year < 2004]
df_val = df[(df.year >= 2004) &  (df.year < 2005)]
df_test = df[df.year >= 2005]

In [0]:
# Split in to training and validation sets
X_train, X_validation, y_train, y_validation = df_train.filter(regex='^(?!.*(.avg\d))'), df_val.filter(regex='^(?!.*(.avg\d))'), df_train.filter(regex='.avg\d'), df_val.filter(regex='.avg\d')

In [0]:
feature_list = list(df.filter(regex='^(?!.*(.avg\d))').columns)

In [0]:
X_test, y_test = df_test.filter(regex='^(?!.*(.avg\d))'),df_test.filter(regex='.avg\d')

In [0]:
X_test, y_test = X_test[:-3].tail, y_test[:-3]

In [0]:
y_train_HT1 = y_train.iloc[:,[0]]
y_train_HT2 = y_train.iloc[:,[1]]
y_train_HT3 = y_train.iloc[:,[2]]

y_validation_HT1 = y_validation.iloc[:,[0]]
y_validation_HT2 = y_validation.iloc[:,[1]]
y_validation_HT3 = y_validation.iloc[:,[2]]



y_train_LT1 = y_train.iloc[:,[3]]
y_train_LT2 = y_train.iloc[:,[4]]
y_train_LT3 = y_train.iloc[:,[5]]

y_validation_LT1 = y_validation.iloc[:,[3]]
y_validation_LT2 = y_validation.iloc[:,[4]]
y_validation_LT3 = y_validation.iloc[:,[5]]


y_train_R1 = y_train.iloc[:,[6]]
y_train_R2 = y_train.iloc[:,[7]]
y_train_R3 = y_train.iloc[:,[8]]

y_validation_R1 = y_validation.iloc[:,[6]]
y_validation_R2 = y_validation.iloc[:,[7]]
y_validation_R3 = y_validation.iloc[:,[8]]


y_test_HT1 = y_test.iloc[:, [0]] 
y_test_HT2 = y_test.iloc[:, [1]] 
y_test_HT3 = y_test.iloc[:, [2]]

In [0]:
X_train, X_validation = np.array(X_train), np.array(X_validation)

In [0]:
y_train_HT1, y_validation_HT1 = np.array(y_train_HT1), np.array(y_validation_HT1)
y_train_HT2, y_validation_HT2 = np.array(y_train_HT2), np.array(y_validation_HT2)
y_train_HT3, y_validation_HT3 = np.array(y_train_HT3), np.array(y_validation_HT3)

y_train_LT1, y_validation_LT1 = np.array(y_train_LT1), np.array(y_validation_LT1)
y_train_LT2, y_validation_LT2 = np.array(y_train_LT2), np.array(y_validation_LT2)
y_train_LT3, y_validation_LT3 = np.array(y_train_LT3), np.array(y_validation_LT3)

In [0]:
y_test_HT3  = np.array(y_test_HT3)
X_test = np.array(X_test)

In [23]:
# baseline predictions are the historical averages

baseline_preds = X_validation[:, feature_list.index('highTemp.actual')]

baseline_errors = abs(baseline_preds - y_validation_HT3)

print('Avg baseline erro: ', round(np.mean(baseline_errors), 2))

Avg baseline erro:  15.42

HT1 : Avg baseline erro:  15.43

In [0]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

In [25]:
rnd_rgr = RandomForestRegressor(n_estimators=100, max_depth=20, random_state=11)
rnd_rgr.fit(X_train, y_train_HT3.ravel())

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=20,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=11, verbose=0, warm_start=False)

In [29]:
predictions = rnd_rgr.predict(X_test.ravel())
errors = abs(predictions - y_test_HT3.ravel() )
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

TypeError: ignored

In [0]:
mape = 100 * (errors/y_train_HT1)

In [0]:
accuracy = 100 - np.mean(mape)

In [0]:
accuracy

96.45689534162533

In [0]:
!pip3 install datetools

Collecting datetools
  Downloading https://files.pythonhosted.org/packages/49/ff/ad0df8b9182fb06181a6ac5c7fb5057cd1d098f41af83f3e133c6a0cdd68/DateTools-1.1.tar.gz
Building wheels for collected packages: datetools
  Building wheel for datetools (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/fd/8b/bf/cfd6f9f3f4e72f9b9a94aa9ecc3f96e5f3ae3590c67ca4fb58
Successfully built datetools
Installing collected packages: datetools
Successfully installed datetools-1.1